@model List<MoneyTransferSystem.Database.DbModels.Account>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
<main>
    <h1> 🎄🎄 Hello 🎄🎄</h1>
    <div class="container">
        <div class="row mb-3">
            <div class="col-4">1</div>
            <div class="col-4">1</div>
            <div class="col-4">1</div>
        </div>
    </div>
    <div>
        Визуал только начал делать и есть только возможность авторизации, ну и эта страница.
    </div>

</main>


    
  </body>
</html>